<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'base/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'register/css/register.css' %}">
</head>
<body>

<div class="container register-form">
    <div class="form">
        <div class="note">
            <p>Create new user</p>
        </div>

        <div class="form-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email" value="" id="email"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" value="" id="password1"/>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Confirm password" value="" id="password2"/>
                    </div>
                </div>
            </div>
            <button type="button" class="btnSubmit" id="register_button">Submit</button>
        </div>
    </div>
</div>

<script src="{% static 'base/js/jquery-3.6.3.js' %}"></script>
<script src="{% static 'base/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'register/js/register.js' %}"></script>
</body>
</html>